:root {
  --primary-color: #ffffff;
  --secondary-color: #910011;

  --primary-text-color: rgba(0, 0, 0, 80%);
  --secondary-text-color: #4b5156;

  --primary-background-color: #fff;
  --secondary-background-color: #2a3a4a;

  --border-color: #2a3a4a;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-14: 0.876rem;
  --fs-16: 1rem;
  --fs-18: 1.1250rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-56: 3.5rem;

  --primary-heading: var(--fs-32);
  --secondary-heading: var(--fs-18);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background: #fff;
  color: var(--primary-text-color);
  font-size: var(--fs-16);
  line-height: 1.5;
  font-weight: var(--fw-regular);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  padding: 10px 0
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* Utility */

.primary-heading {
  font-size: var(--primary-heading);
  margin-bottom: 15px;
  color: var(--secondary-color);
}

.secondary-heading {
  font-size: var(--secondary-heading);
  margin-bottom: 10px;
}

.bg-primary {
  background-color: var(--primary-background-color);
}

.bg-secondary {
  background-color: var(--secondary-background-color);
}

.primary-text {
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-32 {
  font-size: var(--fs-32)
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-56 {
  font-size: var(--fs-56);
}