:root {
    /* --mainColor: #ffffff;
    --secondaryColor: #910011;
  
    --borderColor: #2a3a4a;
  
    --mainText: rgba(0, 0, 0, 80%);
    --secondaryText: #4b5156;
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700; */
  
  
    --clr-primary: #ffffff;
    --clr-cta: #910011;
    --clr-secondary: #2a3a4a;
  
    --clr-primary-text: rgba(0, 0, 0, 80%);
    --clr-secondary-text: rgba(0, 0, 0, 50%);
    --clr-accent-text: #ffffff;
  
    --ff-primary: "Be Vietnam Pro", sans-serif;
  
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
  
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
  
    --fs-14: 0.876rem;
    --fs-16: 1rem;
    --fs-18: 1.1250rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-56: 3.5rem;
  
    --fs-body: var(--fs-16);
    --fs-primary-heading: var(--fs-32);
    --fs-secondary-heading: var(--fs-18);
    --fs-nav: var(--fs-16);
    --fs-button: var(--fs-16);
  }
  
  /* Tablets and under  */
  @media (max-width: 768px) {
    .about-me-container {
      flex-wrap: wrap;
      align-content: center;
    }
  }
  
  /* Mobile  */
  @media (max-width: 500px) {
  
    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 15px !important;
    }
  
    .sectionBlock {
      font-size: var(--fs-18) !important;
    }
  
    .navbar .flex {
      display: flex;
      justify-content: center !important;
    }
  
    .logo {
      display: none !important;
    }
  
    .navbar ul {
      padding: 5px 10px;
      margin: 5px;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul,
  ol,
  li {
    list-style-type: none;
  }
  
  a {
    color: red;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  html,
  body {
    height: 100vh;
    font-family: var(--ff-primary);
    color: var(--clr-primary-text);
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* A elements that don't have a class get default styles */
  a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* .svg-inline--fa {
    width: 32px;
    height: 32px;
  } */
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* Utility classes */
  
  .text-primary {
    color: var(--clr-primary-text);
  }
  
  .text-secondary {
    color: var(--clr-secondary-text);
  }
  
  .text-accent {
    color: var(--clr-accent-text);
  }
  
  .text-accent-100 {
    color: var(--clr-primary);
  }
  
  
  
  .bg-primary {
    background-color: var(--clr-primary);
  }
  
  .bg-secondary {
    background-color: var(--clr-secondary);
  }
  
  .fw-bold {
    font-weight: var(--fw-bold);
  }
  
  .fw-semi-bold {
    font-weight: var(--fw-semi-bold);
  }
  
  .fw-regular {
    font-weight: var(--fw-regular);
  }
  
  .fs-primary-heading {
    font-size: var(--fs-primary-heading);
    margin-bottom: 25px;
  }
  
  .fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
    margin-bottom: 25px;
  }
  
  .fs-14 {
    font-size: var(--fs-14);
  }
  
  .fs-16 {
    font-size: var(--fs-16);
  }
  
  .fs-18 {
    font-size: var(--fs-18);
  }
  
  .fs-32 {
    font-size: var(--fs-32)
  }
  
  .fs-40 {
    font-size: var(--fs-40);
  }
  
  .fs-56 {
    font-size: var(--fs-56);
  }
  
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
  }
  
  .flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .button-primary {
    background-color: var(--clr-cta);
    display: flex;
    color: var(--clr-primary);
    padding: 5px 15px;
    gap: 10px;
    border-style: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 25px 0 0;
    align-items: center;
    flex-direction: row;
  }
  
  .button-primary:hover {
    cursor: pointer;
    background-color: rgba(145, 0, 17, 80%)
  }